@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap');

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #6a11cb, #2575fc);
  color: #fff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 2rem;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

h1 {
  color: #333;
  margin-bottom: 20px;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  text-align: center;
}

h2 {
  text-align: center;
  margin-bottom: 1rem;
}



/* Tela de criar tasks */
input, 
select, 
textarea {
  width: 100%;
  padding: 10px;
  margin: 12px auto;
  border-radius: 6px;
  border: none;
  box-sizing: border-box;
}

.form-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 6rem;
  background-color: rgba(204, 0, 255, 0.05);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(253, 0, 0, 0.2);
  text-align: center;
  margin-top: 90px;
}

.form-wrapper h1 {
  margin-bottom: 1.5rem;
}




/* LOGIN/ REGISTRO */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  height: 100vh;
}

.register-container {
  display: flex;
  flex-direction: column;
  justify-content: center; /* vertical */
  align-items: center;     /* horizontal */
  height: 100vh;
}







/* TABELAS */
.table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.table th,
.table td {
  padding: 12px;
  border: 1px solid #ddd;
  text-align: center;
}

.table th {
  background-color: #f0f0f0;
  color: #333;
}



/* Dashboard ao logar */
.dashboard-wrapper {
  max-width: 500px;
  margin: 0 auto;
  padding: 10rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0,0,0,0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
}

.role-badge {
  padding: 8px 8px;
  border-radius: 6px;
  font-weight: bold;
  font-size: 0.9em;
}

.role-badge.admin {
  background-color: #ffc107;
  color: #212529;
}

.role-badge.member {
  background-color: #5ba706;
  color: white;
}






/* STATUS DAS TASKS */
.badge {
  padding: 5px 10px;
  border-radius: 12px;
  font-size: 0.85em;
  color: white;
}

/* COLOR DOS STATUS DAS TASKS */ 
.badge.bg-secondary { background-color: #6c757d; }
.badge.bg-info { background-color: #17a2b8; }
.badge.bg-success { background-color: #28a745; }
.badge.bg-danger { background-color: #dc3545; }



/* BOTOES */
button,
a.btn-login,
a.btn-register,
a.btn-back,
a.btn-action {
  display: inline-block;
  padding: 10px 20px;
  margin: 10px 5px;
  background-color: #ffffff;
  color: #6a11cb;
  border: none;
  border-radius: 8px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

button:hover,
a.btn-login:hover,
a.btn-register:hover,
a.btn-back:hover,
a.btn-action:hover {
  background-color: #e0e0ff;
}

.btn-small-width {
  width: auto;
  min-width: 120px;
  max-width: 200px;
  display: inline-block;
  text-align: center;
}

.btn-primary {
  background-color: #007bff;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  text-decoration: none;
  font-weight: bold;
}

.btn-primary:hover {
  background-color: #0056b3;
}

.btn-sm {
  border-radius: 10px;
  padding: 4px 8px;
  font-size: 0.85em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
}





/* BOTOES DE VIEW/EDIT/DELETE */
.btn-view {
  background-color: #00a531; /* azul claro */
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;
}

.btn-view:hover {
  background-color: #6df79b;
}

.btn-warning {
  background-color: #ffc107;
  color: #212529;
  text-decoration: none;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  transition: background 0.3s ease;

}

.btn-warning:hover {
  background-color: white;
  transition: background 0.3s ease;
}

.btn-delete {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 6px 10px;
  border-radius: 4px;
  cursor: pointer;
}






/* MENU */
.navbar {
  background-color: #343a40;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.navbar a {
  color: white;
  text-decoration: none;
  margin-left: 20px;
  font-weight: bold;
}

.navbar a:hover {
  text-decoration: underline;
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .btn-back {
  background-color: #6c757d;
  color: white;
  padding: 6px 12px;
  border-radius: 4px;
  text-decoration: none;
  margin-left: 20px;
}

.navbar .btn-back:hover {
  background-color: #5a6268;
}





/* FOOTER */
footer {
  text-align: center;
  padding: 1rem;
  margin-top: auto;
  color: #ccc;
}

