<%- include('../partials/header') %>
<%- include('../partials/menu', { user }) %>


<h1>Criar Nova Tarefa</h1>

<form action="/my-tasks" method="POST" class="form">
  <label>Título:</label>
  <input type="text" name="title" placeholder="Título" required>
  
  <label>Descrição:</label>
  <textarea name="description" placeholder="Descrição"></textarea>
  
  <label>Status:</label>
  <select name="status">
    <option value="PENDING">PENDING</option>
    <option value="RUNNING">RUNNING</option>
    <option value="COMPLETED">COMPLETED</option>
    <option value="FAILED">FAILED</option>
  </select>
  
  <button type="submit" class="btn-primary">Criar</button>
</form>

<%- include('../partials/footer') %>
