<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <% layout('layout', { title: 'Página Inicial' }) %>

    <h1>Bem-vindo ao Projeto de Tarefas</h1>
    <p>Use a navegação acima para acessar Usuários ou Tarefas.</p>
</body>
</html>