<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% layout('layout', { title: 'Página Inicial' }) %>
    <h1>Bem-vindo ao Projeto de Tarefas</h1>
    <p>Use a navegação acima para acessar Usuários ou Tarefas.</p>
</body>
</html>


