<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="../public/css/style.css">
</head>
<body>
    <nav>
        <a href="/">Home</a> |
        <a href="/usuarios">Usuários</a> |
        <a href="/tarefas">Tarefas</a>
    </nav>
    <hr>
    <main>
        <%- body %>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>