<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <nav>
        <a href="index.ejs">Home</a> |
        <a href="users.ejs">Usuários</a> |
        <a href="tasks.ejs">Tarefas</a>
    </nav>
    <hr>
    <main>
        <%- body %>
    </main>
    <script src="/js/main.js"></script>
</body>
</html>