<%- include('partials/header') %>
<%- include('partials/menu', { user }) %>

<h1>Login</h1>

<form action="/api/auth/login" method="POST">
  <input type="email" name="email" placeholder="Email" required>
  <input type="password" name="password" placeholder="Senha" required>
  <button type="submit">Entrar</button>
</form>

<%- include('partials/footer') %>
