<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% layout('layout', { title: 'Criar Usuário' }) %>
    <h1>Criar Usuário</h1>
    <form action="/usuarios" method="POST">
        <label>Nome: <input type="text" name="name" required></label><br>
        <label>Email: <input type="email" name="email" required></label><br>
        <label>Senha: <input type="password" name="password" required></label><br>
        <button type="submit">Criar</button>
    </form>
    <a href="/usuarios">Voltar</a>
</body>
</html>



