<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tasks</title>
</head>
<body>

    <% layout('layout', { title: 'Tarefas' }) %>

    <h1>Lista de Tarefas</h1>
    <a href="/tarefas/criar">Criar Nova Tarefa</a>
    <ul>
        <% tarefas.forEach(t => { %>
            <li><%= t.title %> - <%= t.description %></li>
        <% }) %>
    </ul>

</body>

</html>