<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Users</title>
</head>
<body>
    <% layout('layout', { title: 'Usuários' }) %>

<h1>Lista de Usuários</h1>
<a href="/usuarios/criar">Criar Novo Usuário</a>
<ul>
    <% usuarios.forEach(u => { %>
        <li><%= u.name %> - <%= u.email %></li>
    <% }) %>
</ul>
</body>
</html>