<header>
  <nav>
    <a href="/">Início</a>
    <% if (typeof user !== 'undefined' && user) { %>
        <span>Olá, <%= user.email %>!</span>
        <a href="/logout">Sair</a>
    <% } else { %>
        <a href="/login">Login</a>
        <a href="/register">Registrar</a>
    <% } %>

  </nav>
</header>
