<header>
  <meta charset="UTF-8">
  <link rel="stylesheet" href="/css/style.css">
  <nav>
    <a href="/">Início</a>
    <% if (locals.user) { %>
      <span>Olá, <%= locals.user.email %>!</span>
      <a href="/logout">Sair</a>
    <% } else { %>
      <a href="/login">Entrar</a>
      <a href="/register">Registrar</a>
    <% } %>

  </nav>
</header>
