
<%- include('../partials/menu', { user }) %>

<div style="text-align: center; padding: 2rem;">
  <h1>Cadastro realizado com sucesso!</h1>
  <p>Bem-vindo(a), <%= user.name %>!</p>
  <a href="/dashboard" class="btn-primary">Ir para o Dashboard</a>
</div>

<%- include('../partials/footer') %>

